/* === Styles === */

/* === Common-Styles === */
html{
    scroll-behavior: smooth;
}
body{
    background: #FFF9F5 !important;
}

/* === Colors === */
.color-FFF{
    color: #FFF;
}
.color-162950{
    color: #162950;
}

h1, h2{
    font-size: 40px !important;
}
h2{
    margin-bottom: .7em !important;
}
h2.shortline::before{
    content: ''; display: block; 
    width: 180px; height: 5px;
    background: #B78628;  
    margin-bottom: 30px; 
    position: relative; left: -7.5px;
}
p{
    font-size: 22.5px;
}
a{
    text-decoration: none !important;
}
.bold{
    font-weight: bold;
}
.one-pixel-space{
    letter-spacing: 1px;
}
.two-pixels-space{
    letter-spacing: 2px;
}
.zindex-5{
    z-index: 5;
}

section{
    position: relative;
    line-height: 0;
}
article{
    line-height: 1.55;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.align-items-center{
    display: flex;
    align-items: center;
}

.contact-number{
    font-weight: 700;
}

video{
    object-fit: cover;
}
.video-container{
    width: 100%;
}
.video-container video{
    width: inherit;
}
video#openingVideo{
    z-index: -10;
}

/* === Fonts === */

/* === Montserrat === */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.montserrat{
    font-family: 'Montserrat';
}

/* === Playfair === */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.playfair{
    font-family: 'Playfair Display', serif;
}

/* === Pacifico === */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.pacifico{
    font-family: 'Pacifico', cursive;
}

/* === Noto-Serif-Traditional-Chinese === */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

.noto-serif-tc{
    font-family: 'Noto Serif TC', serif;
}

header .navbar{
    background: rgba(0, 0, 0, .8);
}
header .navbar .container-fluid{
    padding: 1em 4em;
}
header .navbar img.logo{
    width: 450px;
}
header .navbar .logo-text{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
header .navbar .logo-text span{
    display: block;
}
header .navbar .navbar-brand{
    /*Inside-Alignment*/
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
header .navbar .navbar-collapse {
    flex-grow: 0; 
}
header .navbar .nav-item{
    /*Inside-Alignment*/
    min-width: 160px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
}
header .navbar a.contact {
    width: 200px; padding: 8px 16px;
    font-size: 20px; display: flex; 
    justify-content: space-between;
    align-items: center;
}
header .navbar a.contact span{
    font-size: 23px;
    position: relative;
    top: -3px;
}
header .navbar a{
    color: #FFF;
    font-size: 22px; 
    transition: .5s all ease;
}
header .navbar a:hover,
header .navbar a:active{
    color: #BEBEBE;
}
header .navbar .nav-item,
header .navbar .nav-item i{
    font-size: 18px;
}
header .navbar .nav-item i{
    margin: 0 2px;
}

header .navbar-toggler{
    width: 22px; 
    height: 22px;
    padding: 0;
}
header .navbar-toggler:focus {
    box-shadow: none;
}
header .navbar-toggler .navbar-toggler-icon {
    width: 22px; height: 3px;
    background: #FFF;
    border-radius: 5px; position: absolute;
    transition: all .5s ease-in-out;
    /*Inside-Alignment*/
    display: flex; justify-content: center;
    align-items: center;
}
header .navbar-toggler .navbar-toggler-icon::before,
header .navbar-toggler .navbar-toggler-icon::after{
    content: ''; position: absolute; height: 3px; 
    background: #FFF; border-radius: 5px;
    transition: all .5s ease-in-out;
    transition-delay: .1s;
}
header .navbar-toggler .navbar-toggler-icon::before{
    width: 22px; transform: translateY(-8px);
}
header .navbar-toggler .navbar-toggler-icon::after{
    width: 22px; transform: translate(0, 8px);
}

/* === Navbar-Toggler-Icon-Animation === */
header .navbar-toggler.open .navbar-toggler-icon{
    background: none; transition: all .2s ease;
}
header .navbar-toggler.open .navbar-toggler-icon::before{
    height: 2px; transform: rotate(-45deg);
}
header .navbar-toggler.open .navbar-toggler-icon::after{
    height: 2px; transform: rotate(45deg);
}

/* === Opening === */
#opening article{
    position: absolute; top: 18em; 
}
#opening article::after{
    content: ''; display: block;
    background: #B78628; height: 9px; 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    animation: lineOut .85s ease-in-out;
}
@keyframes lineOut {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
#opening article .contents{
    padding-left: 5.5em;
    padding-right: 2.5em;
    padding-bottom: 2em;
}
#opening article .introduction{
    margin: 2.5em 0;
}
#opening article .introduction span{
    display: block;
}
#opening video{
    height: 750px;
}

/* === Second === */
#second{
    height: 1050px;
}
#second .tvp-plan{
    padding-top: 5em;
}
#second .tvp-plan article{
    width: 680px; line-height: 1.55;
    position: relative; text-align: center;
    left: 4em; padding: 2.5em 3.5em; 
    background: rgba(255, 249, 245, .9);
}
#second .tvp-plan article h2{
    margin-bottom: 0.15em !important;
}
#second .tvp-plan article .contents{
    display: flex;
    justify-content: center;
}
#second .tvp-plan p{
    margin: 1.25em 0;
}
#second .tvp-plan p span{
    display: block;
}
#second .tvp-plan .chart img{
    width: 525px;
    margin: 17px 0;
}
#second .tvp-plan .banner{
    position: absolute;
    right: 4.25em; top: 9.5em;
}
#second .tvp-plan .banner img{
    width: 1400px;
}

/* === Third === */
#third .slider{
    margin-top: 2.5em;
}

/* === Forth === */
#forth .contents{
    padding-top: 6.5em;
}
#fifth .contents{
    padding-top: 3em;
}
#forth .web-design,
#fifth .apps-design{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#forth .web-design .image-1{
    position: relative;
    width: inherit;
    display: inline-block;
}
#forth .web-design .image-1 img{
    width: 450px;
}
#forth article.web-design{
    position: relative;
    left: -10px;
}
#forth .web-design .icon-1{
    position: relative;
    width: inherit;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#forth .web-design .icon-1 img{
    width: 280px;
    animation: spin 10s linear infinite;
}
@keyframes spin {
    100% {transform: rotate(360deg);}
}
#fifth article.apps-design{
    position: relative;
    left: 3em;
}
#fifth .apps-design .image-1{
    position: relative;
    width: inherit;
}
#fifth .apps-design .image-1 img{
    width: 500px;
}
#forth .web-design .web-design-projects{
    margin-top: 3.5em;
}
#fifth .apps-design .apps-design-projects{
    margin-top: 2.5em;
}
#forth .web-design .web-design-projects .detail,
#fifth .apps-design .apps-design-projects .detail{
    position: relative;
    background: #FFF1E0;
    border-radius: 20px;
    padding: 2em 3em;
    margin: 1.5em 1.5em;
    max-width: 450px;
}
#forth .web-design .web-design-projects .detail i,
#fifth .apps-design .apps-design-projects .detail i{
    font-size: 23px;
    color: #162950;
}
#forth .web-design .web-design-projects .detail h3,
#fifth .apps-design .apps-design-projects .detail h3{
    font-size: 27px; 
    margin: .75em 0;
    color: #162950;
}
#forth .web-design .web-design-projects .detail p,
#fifth .apps-design .apps-design-projects .detail p{
    line-height: 1.7;
    margin-bottom: 0;
}
#forth .web-design .web-design-projects .detail p span,
#fifth .apps-design .apps-design-projects .detail p span{
    display: block;
}

/* === RWD === */
a.rwd-contact{
    position: fixed;
    right: 0; top: 13em;
    background: #075E54;
    padding: 7px 14px; width: 170px;
    font-size: 22px; color: #FFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex; justify-content: space-between;
    align-items: center;
    z-index: 1000; transition: all .5s ease;
}
a.rwd-contact:hover,
a.rwd-contact:active{
    color: #BEBEBE;
}
a.rwd-contact span{
    font-size: 20px;
    position: relative;
    top: -1.5px;
}

@media only screen and (max-width: 600px) {

    #opening article {
        top: 10em;
    }
    #opening article .contents {
        padding-left: 1.5em;
        padding-right: 0;
        padding-bottom: 1.3em;
    }
    #second {
        height: inherit;
    }
    #second .tvp-plan article {
        width: 97% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 0;
        background: none;
        padding: 2em 1em;
    }
    #second .tvp-plan .banner {
        display: none;
    }

}

@media only screen and (max-width: 780px){

    header .navbar .container-fluid {
        padding: 16px 8px;
    }
    #second .tvp-plan .chart img {
        width: 100%;
    }
    #forth .contents {
        padding-top: 3em;
    }
    #forth .web-design .image-1,
    #fifth .apps-design .image-1{
        text-align: center; 
        width: 100%; margin: auto;
    }
    #forth .web-design .image-1 img,
    #fifth .apps-design .image-1 img{
        width: 100%;
    }
    #forth .web-design{
        margin-top: 3em;
    }
    #forth .web-design .icon-1 {
        text-align: center;
        margin-top: 1.5em;
    }
    #forth .web-design .icon-1 img {
        width: 50%;
    }
    #forth .web-design .web-design-projects .detail, 
    #fifth .apps-design .apps-design-projects .detail {
        position: relative;
        padding: 2em 1.5em;
        margin: 1em 1.5em;
        width: 85%;
    }
    #fifth .apps-design{
        margin-top: .75em;
    }
    #fifth .contents {
        padding-top: 1.5em;
    }
    #fifth .apps-design .image-1{
        order: 1;
        margin-bottom: 1.25em;
    }
    #fifth .apps-design .col-md-5{
        order: 2;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1200px) {

    #opening article {
        top: 10.5em;
    }
    #second {
        height: 300px;
    }
    #second .tvp-plan .banner {
        position: absolute;
        right: 3em;
        top: 5em;
    }
    #second .tvp-plan .banner img {
        width: 1200px;
    }
    #second .tvp-plan article { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 6em; left: 0;
        padding: 2em 2.5em;
    }

}

@media only screen and (min-width: 780px) and (max-width: 1040px) {

    header .navbar .container-fluid {
        padding: 1em 2em;
    }
    #forth .web-design .image-1 img {
        width: 300px;
    }

}

@media only screen and (min-width: 780px) and (max-width: 1100px) {

    #fifth .apps-design .image-1 img {
        width: 350px;
    }

}

@media only screen and (min-width: 780px) and (max-width: 1150px) {

    #forth .web-design .icon-1 {
        display: none;
    }
    #forth .web-design .web-design-projects .detail, 
    #fifth .apps-design .apps-design-projects .detail {
        padding: 2em 2em;
        margin: 1.5em 1em;
        max-width: 310px;
    }

}

@media only screen and (min-width: 780px) and (max-width: 1550px) {

    #forth .web-design .icon-1 {
        display: none;
    }

}

@media only screen and (max-width: 990px){

    header .navbar .navbar-nav {
        margin-top: 15px;
    }
    header .navbar .nav-item {
        margin: .5em 1em;
    }
    header .navbar a.contact {
        display: none;
    }
    a.rwd-contact{
        display: flex;
    }

}

@media only screen and (min-width: 990px){

    header .navbar a.contact {
        order: 2;
    }
    a.rwd-contact{
        display: none;
    }

}

@media only screen and (max-width: 1200px) {

    header .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    header .navbar img.logo {
        width: 250px;
    }
    header .navbar a.contact {
        width: 150px;
        padding: 5px 8px;
        font-size: 14px;
    }
    h1{
        font-size: 18px !important;
    }
    h2{
        font-size: 22px !important;
    }
    p {
        font-size: 18px;
    }
    #opening article {
        margin-right: 1.5em;
    }
    #opening video {
        height: 400px;
    }
    #second .tvp-plan {
        padding-top: 2em;
    }
    #second .tvp-plan article {
        width: 75%; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.55;
    }
    h2.shortline::before {
        width: 145px;
        margin-bottom: 20px;
    }
    #fifth article.apps-design {
        left: 0; 
    }
    #forth .web-design .web-design-projects .detail h3, 
    #fifth .apps-design .apps-design-projects .detail h3 {
        font-size: 22px;
        margin: .75em 0;
    }
}